:root {
    --font-family: 'Roboto', sans-serif;

    --bg-main-color: #FFFFFF;
    --bg-second-color: #171F24;

    --main-text-color: #000000;
    --accent-text-color: #FF6B08;
    --second-text-color: #FFFFFF;
    --red-color: #FF001B;
    
}

